# dependencies
/node_modules

# Angular CLI cache
/.angular

# testing
/coverage

# production
/dist

# misc
.DS_Store
Thumbs.db
*.log

# IDE - VSCode
.vscode

.editorconfig
.prettierignore
.prettierrc