<div #searchContainer class="search-container">
  <form class="search" (submit)="filterNovels(); $event.preventDefault()">
    <input
      type="text"
      placeholder="Search a Novel"
      class="search__input"
      [value]="searchQuery"
      (input)="onSearchQueryChange($event)"
      id="search"
    />
    <button type="button" class="search__button" (click)="filterNovels()">
      <i class="ri-search-2-line"></i>
    </button>
  </form>

  <div *ngIf="isSearchActive" #searchResults class="search-results">
    <ul>
      <li *ngFor="let novel of filteredNovels">
        <a href="home/{{ novel.url_name }}">{{ novel.name }}</a>
      </li>
    </ul>
  </div>
</div>
