h4 {
  font-size: large;
  justify-self: left;
  border-bottom: 1px solid;
  border-image: var(--border-gradient);
  border-image-slice: 1;
  font-family: var(--font-text);
}
.index {
  padding-right: 15px;
}
