
  <div class="login">
   
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div class="title"> <h1>Log in:</h1></div>  
        <label>
          Email:
          <input type="text" formControlName="email">
        </label>
        <label>
          Password:
          <input type="password" formControlName="password">
        </label>
        <div class="message-registration" *ngIf="messageFromRegister">{{ messageFromRegister }}</div>
        <button type="submit">Log in</button>
        <div class="message" *ngIf="message">{{ message }}</div>
        <div class="signup" ><h4>Don't have an account? <a href="/register">Sign Up</a></h4></div>
      </form>
      
  </div>