header {
  background-color: var(--header-color);
  max-height: fit-content;
  display: flex;
  justify-content: space-between;
  width: auto;

  .header-content {
    max-height: fit-content;
    display: flex;
    justify-content: space-between;
    width: 99%;
    margin-left: auto;
    margin-right: auto;
    max-width: 1100px;
  }

  .menu {
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    margin-left: 30px;
    h1 {
      padding: 0px;
      margin: 0px;
      font-size: 20px;
      border-right: 1px solid var(--lines-color);
      border-left: 1px solid var(--lines-color);
      padding-left: 10px;
      padding-right: 10px;
      font-family: var(--font-title);
      color: var(--text-header-color);
    }
  }
  .nav-logo {
    width: 80px;
    min-width: 80px; // Define a largura da imagem
    height: 40px;

    .logo-image {
      width: 100%; // Define a largura da imagem
      height: 100%; // Define a altura da imagem
      border-radius: 5px;
      margin-top: 2px;
      display: block; // Exibe a imagem como bloco
      margin-left: 2px; // Define a margem esquerda como automática
      margin-right: auto;
    }
  }

  .containerRight {
    margin-top: auto;
    margin-bottom: auto;
    display: flex;
    align-items: center;

    .theme-logo {
      margin-top: 5px;
      position: relative;
      cursor: pointer;
      .options-theme {
        position: absolute;
        top: 100%;
        right: 0;
        background: var(--z-color);
        border: 2px solid var(--link-color);
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        border-radius: 4px;
        z-index: 1000;
        div {
          padding: 8px 16px;
          color: var(--text-light-color);
          cursor: pointer;
          &:hover {
            background-color: var(--link-color);
            color: var(--text-dark-color);
          }
        }
      }
    }
    .user-logo {
      margin-top: 7px;
      position: relative;
      cursor: pointer;

      svg {
        width: 30px;
        height: 30px;
        fill: var(--link-color);
        cursor: pointer;
      }
      .options {
        position: absolute;
        top: 100%;
        right: 0;
        background: var(--z-color);
        border: 2px solid var(--link-color);
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        border-radius: 4px;
        z-index: 1000;
        div {
          padding: 8px 16px;
          color: var(--text-light-color);
          cursor: pointer;
          &:hover {
            background-color: var(--link-color);
            color: var(--text-dark-color);
          }
        }
      }
      .username {
        margin-left: 16px;
        font-weight: bold;
      }
    }

    app-search-bar {
      margin-right: 25px;
      margin-left: 30px;
      margin-top: auto;
      margin-bottom: auto;
    }
  }
}

@media screen and (max-width: 460px) {
  app-search-bar {
    display: none;

  }
  .user-logo {
    margin-left: 20px;
  }
  .menu {
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    margin-left: 30px;
    margin-right: 30px;
    h1 {
      padding: 0px;
      margin: 0px;
      font-size: 15px;
      border-right: 1px solid var(--lines-color);
      border-left: 1px solid var(--lines-color);
      padding-left: 10px;
      padding-right: 10px;
      font-family: var(--font-title);
    }
  }
}
