@import url("https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Lora:ital,wght@0,400..700;1,400..700&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&display=swap");
:root {
  /* Common variables */
  --background-color: #222222;
  --header-color: #181818;
  --toolbar-color: rgba(11, 10, 10, 0.75);
  --suport-color: #e2e2e2;
  --back-scroll-bar: #e2e2e200;
  --button-color: #271818;
  --text-header-color: #e2e2e2;
  --font-comment-color: #ff6881;
  --text-light-color: #e2e2e2;
  --text-dark-color: #0b0a0a;
  --font-rubik: "Rubik";
  --font-lato: "Lato";
  --font-crimson: "Crimson Text";
  --font-plex-sans: "IBM Plex Sans";
  --font-josefin-sans: "Josefin Sans";
  --font-libre-baskerville: "Libre Baskerville";
  --font-lora: "Lora";
  --font-merriweather: "Merriweather";
  --font-noto-sans: "Noto Sans";
  --font-open-sans: "Open Sans";
  --font-pt-serif: "PT Serif";
  --font-oswald: "Oswald";
  --font-source-serif: "Source Serif 4";
  --font-roboto: "Roboto";
  --font-title: var(--font-libre-baskerville);
  --font-text: var(--font-lato);
  --font-chapter: var(--font-noto-sans);
  --font-chapter-size: 18px;
  /* Variables that change with themes */
  --lines-color: #ad3b3b;
  --lines2-color: #ad0000;
  --z-color: #201f1f;
  --z-border-color: #ff7d7d;
  --link-color: #ff7d7d;
  --scroll-bar: #ff7d7d;
  --gradient-color-1: #ad3b3b;
  --gradient-color-2: #ad0000;
  --border-gradient: linear-gradient(
    to left,
    var(--gradient-color-1),
    var(--gradient-color-2)
  );
  --chapter-index-color: black;
  --background-inv-color: var(--header-color);
  --search-bar-color: #e2e2e2;
}
.light-mode {
  --background-color: #cac7c7;
  --background-inv-color: #b8b6b6;
  --z-color: #c0c0c0;
  --button-color: #d6d6d6;
  --text-light-color: #0e0d0d;
  --text-dark-color: #1d1b1b;
  --back-scroll-bar: #00000000;
  --chapter-index-color: white;
}
//////////////////////////////////////
:root.Akemi {
  --gradient-color-1: #ff00c8;
  --gradient-color-2: #96ffde;
  --lines-color: #96ffde;
  --lines2-color: #ff00c8;
  --z-border-color: #ff00c8;
  --link-color: #ff00c8;
  --scroll-bar: #ff00c8;
  --suport-color: #96ffde;
}
/////////////////////////////////////
:root.Red {
  --lines-color: #ad3b3b;
  --lines2-color: #ad0000;
  --z-border-color: #ff7d7d;
  --link-color: #ff7d7d;
  --scroll-bar: #ff7d7d;
  --gradient-color-1: #ad3b3b;
  --gradient-color-2: #ad0000;
}

:root.Blue {
  --lines-color: #3b73ad;
  --lines2-color: #005dad;
  --z-border-color: #7dbfff;
  --link-color: #7dbfff;
  --scroll-bar: #7dbfff;
  --gradient-color-1: #3b73ad;
  --gradient-color-2: #005dad;
}

:root.Green {
  --lines-color: #3bad6a;
  --lines2-color: #00ad2d;
  --z-border-color: #7dff99;
  --link-color: #7dff99;
  --scroll-bar: #7dff99;
  --gradient-color-1: #3bad6a;
  --gradient-color-2: #00ad2d;
}

:root.Purple {
  --lines-color: #8b3bad;
  --lines2-color: #5d00ad;
  --z-border-color: #c77dff;
  --link-color: #c77dff;
  --scroll-bar: #c77dff;
  --gradient-color-1: #8b3bad;
  --gradient-color-2: #5d00ad;
}
:root.Yellow {
  --lines-color: #adad3b;
  --lines2-color: #adad00;
  --z-border-color: #ffff7d;
  --link-color: #ffff7d;
  --scroll-bar: #ffff7d;
  --gradient-color-1: #adad3b;
  --gradient-color-2: #adad00;
}

:root.Orange {
  --lines-color: #ad6a3b;
  --lines2-color: #ad2d00;
  --z-border-color: #ff997d;
  --link-color: #ff997d;
  --scroll-bar: #ff997d;
  --gradient-color-1: #ad6a3b;
  --gradient-color-2: #ad2d00;
}

:root.Teal {
  --lines-color: #3badad;
  --lines2-color: #00adad;
  --z-border-color: #7dffff;
  --link-color: #7dffff;
  --scroll-bar: #7dffff;
  --gradient-color-1: #3badad;
  --gradient-color-2: #00adad;
}

:root.Gray {
  --lines-color: #666666;
  --lines2-color: #333333;
  --z-border-color: #aaaaaa;
  --link-color: #cccccc;
  --scroll-bar: #bbbbbb;
  --gradient-color-1: #666666;
  --gradient-color-2: #333333;
}
:root.Pink {
  --lines-color: #ad3b82;
  --lines2-color: #c5037e;
  --z-border-color: #fc6bb4;
  --link-color: #ff68b3;
  --scroll-bar: #ff6db6;
  --gradient-color-1: #de4da6;
  --gradient-color-2: #ad006d;
}

:root.Orange-teal {
  --gradient-color-1: #ff9955;
  --gradient-color-2: #55ffff;
  --lines-color: #55ffff;
  --lines2-color: #ff9955;
  --z-border-color: #ff9955;
  --link-color: #ff9955;
  --scroll-bar: #ff9955;
  --suport-color: #55ffff;
}

:root.Purple-green {
  --gradient-color-1: #9933cc;
  --gradient-color-2: #00cc66;
  --lines-color: #00cc66;
  --lines2-color: #9933cc;
  --z-border-color: #9933cc;
  --link-color: #9933cc;
  --scroll-bar: #9933cc;
  --suport-color: #00cc66;
}

:root.Blue-yellow {
  --gradient-color-1: #3399ff;
  --gradient-color-2: #ffee33;
  --lines-color: #ffee33;
  --lines2-color: #3399ff;
  --z-border-color: #3399ff;
  --link-color: #3399ff;
  --scroll-bar: #3399ff;
  --suport-color: #ffee33;
}

:root.Orange-blue {
  --gradient-color-1: #ad743b;
  --gradient-color-2: #005dad;
  --lines-color: #005dad;
  --lines2-color: #ad743b;
  --z-border-color: #ad743b;
  --link-color: #ad743b;
  --scroll-bar: #ad743b;
  --suport-color: #005dad;
}

body {
  background-color: var(--background-color);

  color: var(--text-light-color);
  h1 {
    color: var(--text-light-color);
    text-align: center;
  }
  h2 {
    color: var(--text-light-color);
    text-align: center;
    font-size: medium;
  }
  a {
    color: var(--text-light-color);
    text-decoration: none;
    &:hover {
      color: var(--link-color);
    }
  }
  p {
    color: var(--text-light-color);
    margin: 5px;
  }
  header,
  footer,
  article,
  nav,
  aside {
    padding: 1em;
  }

  .home-page-text {
    color: var(--text-light-color);
    font-weight: bold;
  }
  * {
    box-sizing: border-box;
  }
  body {
    margin: 0;
  }
  #main {
    display: flex;
    min-height: calc(100vh - 40vh);
    > article {
      flex: 1;
    }
    > nav,
    > aside {
      flex: 0 0 25vw;
    }
    > nav {
      order: -1;
    }
  }
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
}

@media (max-width: 767px) {
  #main {
    display: flex;
    flex-direction: column; /* Alterando para uma coluna em dispositivos móveis */
  }
  nav,
  aside {
    flex: 0 0 auto; /* Permitindo que eles ajustem seu tamanho automaticamente */
    width: 100%; /* Garantindo que ocupem toda a largura disponível */
    height: auto; /* Permitindo ajuste de altura automático */
    max-height: 200px; /* Ajuste a altura máxima conforme necessário */
  }
  article {
    display: flex;
    flex-direction: column; /* Alinha os itens verticalmente */
    justify-content: center; /* Centraliza os itens verticalmente */
    align-items: center; /* Centraliza os itens horizontalmente */
    margin-left: 0; /* Removendo margem à esquerda */
    width: 100%; /* Garantindo que ocupe toda a largura disponível */
  }
}

/////////////////////////TOOLTIP(MULTIPLE COMPONENTS USAGE////////////////////////////
app-tooltip {
  position: fixed;
  z-index: 1000;
}
/////////////////////////////////////////////////////////////////////////////////////
